In [2]:
import pandas as pd
import datetime as dt

In [3]:
mushroom = pd.read_csv("https://mushroom.mathematik.uni-marburg.de/files/PrimaryData/primary_data_edited.csv", sep=";")
mushroom.loc[:5, ["stem-height", "stem-width"]]

  stem-height stem-width
0    [15, 20]   [15, 20]
1     [6, 10]   [10, 20]
2    [10, 12]   [10, 20]
3     [7, 15]   [10, 25]
4    [10, 12]   [10, 20]
5      [5, 7]   [10, 15]

In [4]:
 brithdays = pd.read_csv("https://calmcode.io/datasets/birthdays.csv")
brithdays.head(5)

  state  year  month  day        date wday  births
0    AK  1969      1    1  1969-01-01  Wed      14
1    AL  1969      1    1  1969-01-01  Wed     174
2    AR  1969      1    1  1969-01-01  Wed      78
3    AZ  1969      1    1  1969-01-01  Wed      84
4    CA  1969      1    1  1969-01-01  Wed     824

In [5]:
brithdays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372555 entries, 0 to 372554
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   state   372555 non-null  object
 1   year    372555 non-null  int64
 2   month   372555 non-null  int64
 3   day     372555 non-null  int64
 4   date    372555 non-null  object
 5   wday    372555 non-null  object
 6   births  372555 non-null  int64
dtypes: int64(4), object(3)
memory usage: 19.9+ MB

In [6]:
brithdays = pd.read_csv("https://calmcode.io/datasets/birthdays.csv", parse_dates=["date"])
brithdays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372555 entries, 0 to 372554
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   state   372555 non-null  object
 1   year    372555 non-null  int64
 2   month   372555 non-null  int64
 3   day     372555 non-null  int64
 4   date    372555 non-null  datetime64[ns]
 5   wday    372555 non-null  object
 6   births  372555 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 19.9+ MB

In [7]:
 brithdays["day_of_year"] = brithdays["date"].dt.dayofyear
brithdays = brithdays.groupby(["date", "wday", "day_of_year"]).agg(
    births=("births", "sum"), month=("month", "first")
).reset_index()
brithdays.head(5)

        date   wday  day_of_year  births  month
0 1969-01-01    Wed            1    8486      1
1 1969-01-02  Thurs            2    9002      1
2 1969-01-03    Fri            3    9542      1
3 1969-01-04    Sat            4    8960      1
4 1969-01-05    Sun            5    8390      1

In [8]:
def clean_dataset(frame):
    """
    Clean birthdays dataset.

    Args:
        frame (pd.DataFrame): The data frame to be cleaned

    Returns:
        pd.DataFrame: The cleaned data frame
    """
    frame["day_of_year"] = frame["date"].dt.dayofyear
    frame = frame.groupby(["date", "wday", "day_of_year"]).agg(
        births=("births", "sum"), month=("month", "first")
    ).reset_index()
    return frame

In [9]:
from birthday import clean_dataset

brithdays = pd.read_csv("https://calmcode.io/datasets/birthdays.csv", parse_dates=["date"])
brithdays = brithdays.pipe(clean_dataset)
brithdays.head(5)

        date   wday  day_of_year  births  month
0 1969-01-01    Wed            1    8486      1
1 1969-01-02  Thurs            2    9002      1
2 1969-01-03    Fri            3    9542      1
3 1969-01-04    Sat            4    8960      1
4 1969-01-05    Sun            5    8390      1