In [2]:
import pandas as pd
import numpy as np

# 1a

In [3]:
a_list = list("abcdefg")
pd.Series(a_list)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

In [4]:
numpy_array = np.arange(1, 10)
pd.Series(numpy_array)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

In [5]:
dictionary = {"A": 0, "B": 1, "C": 2, "D": 3, "E": 5}
pd.Series(dictionary)

A    0
B    1
C    2
D    3
E    5
dtype: int64

# 1b

In [27]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

#pd.DataFrame(ser1, ser2)
pd.DataFrame({"series 1": ser1, "series 2": ser2}) # his solution!

   series 1  series 2
0         a         0
1         b         1
2         c         2
3         e         3
4         d         4
5         f         5
6         g         6
7         h         7
8         i         8
9         j         9
10        k        10
11        l        11
12        m        12
13        n        13
14        o        14
15        p        15
16        q        16
17        r        17
18        s        18
19        t        19
20        u        20
21        v        21
22        w        22
23        x        23
24        y        24
25        z        25

# 1c

In [7]:
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))
df = pd.DataFrame(pd.Series(state, ser))

In [28]:
np.min(ser), np.percentile(ser, 25), np.median(ser), np.percentile(ser, 75), np.max(ser)

(1,
 2.0,
 4.0,
 6.0,
 8,
 count    35.000000
 mean      4.142857
 std       2.340725
 min       1.000000
 25%       2.000000
 50%       4.000000
 75%       6.000000
 max       8.000000
 dtype: float64)

In [9]:
ser.describe()

count    25.000000
mean     10.435437
std       4.253118
min       1.251173
25%       7.709865
50%      10.922593
75%      13.363604
max      18.094908
dtype: float64

# 1d

In [16]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size =30)))
ser.value_counts()

b    6
d    5
e    4
h    4
f    3
a    3
g    3
c    2
dtype: int64

# 1e

In [17]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = ser.values.reshape(7, 5)
df

array([[4, 2, 8, 1, 7],
       [7, 1, 5, 3, 1],
       [2, 7, 6, 8, 2],
       [3, 4, 8, 1, 1],
       [6, 4, 4, 6, 7],
       [2, 5, 1, 6, 3],
       [5, 5, 5, 4, 1]])

# 1f

In [14]:
df = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv")
df.loc[df['medv'] >= 25, 'medv'] = 30
df.loc[df["medv"] < 25, 'medv'] = 'low'
df.loc[df['medv'] == 30, 'medv'] = 'high'

df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,low
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,high
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,high
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,low
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,low
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,low
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,low
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,low

In [15]:
df.value_counts('medv')

medv
low     374
high    132
dtype: int64

In [37]:
housing = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv")

def housing_price(price):
    if price.medv >= 25:
        price.medv = "high"
    else:
        price.medv = "low"
    return price

housing_high_low = housing.apply(housing_price, axis="columns")
housing_high_low

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,low
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,low
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,high
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,high
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,low
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,low
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,low
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,low
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,low

In [38]:
housing_high_low.value_counts('medv')/len(medv)

medv
low     0.73913
high    0.26087
dtype: float64